* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

.main-filter {
  max-width: 1000px;
  margin: auto;
  position: relative;
  height: 100vh;
}
.main-filter h1 {
  font-size: 50px;
  word-break: break-all;
  margin-bottom: 50px;
  margin-top: 25px;
  text-align: center;
  position: relative;
  -webkit-text-stroke: 2px #03a9f4;
  text-shadow: 4px 4px 10px slategrey;
}

/* .main-filter h1::after{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
} */

.filter-row-elm {
  display: flex;
  flex-wrap: wrap;
}

.filter-col-elm {
  display: none;
  flex: 30%;
  height: 300px;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
  box-shadow: 8px 8px 10px #ccc;
}

.filter-col-elm:hover img {
  transform: scale(1.08);
  z-index: 45;
}
.filter-col-content img {
  height: 80%;
  transition: all .3s ease;
}

.filter-col-content {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.filter-col-content h3,
p {
  text-align: center;
}

/* new class add */

.show-filter-elm {
  display: block;
}

.filter-row-elm {
  padding: 8px;
}
.filter-col-content {
  background-color: white;
  padding: 10px;
}
.filter-btn-container .btn {
  border: 2px solid crimson;
  outline: none;
  padding: 6px 6px;
  font-size: 25px;

  cursor: pointer;
  display: inline-block;
  background-color: skyblue;
  border-radius: 10px;
  transition: all 0.3s ease;
}


.filter-btn-container .active{
    background-color: crimson;
}

.filter-btn-container {
  text-align: center;
}
.filter-btn-container .btn:hover {
  background-color: crimson;
  color: white;
}

.modal {
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  padding-top: 100px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  display: none;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-img {
  width: 600px;
  height: 600px;
  z-index: 700;
  background-size: contain;
}
.modal-img img {
  width: 250px;
  height: 250px;
}

.close {
  position: absolute;
  top: 0;
  right: 19px;
  font-size: 45px;
  color: black;
  background-color: transparent;
  color: wheat;
  
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  transition: 0.3s;
}


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .filter-col-elm {
    flex: 100%;
  }
  .modal-img{
      width: 100%;
      height: 378px;
  }
}
